body{
    background-image: url("spacee-scaled.jpg") ;
    background-size: cover;
}

.confetti-back{
    background-color: black;
    background-image: url("confetti.gif");
    background-size: cover;
}

.alienimage2{
    src: "alien2.gif";
}
.alienimage2{
    src: "alien3.gif";
}

.space-back{
    background-image: url("spacee-scaled.jpg") ;
    background-size: cover;
}

.infotext{
    border: solid red;
    width: 250px;
    height: 250px;
    background-color: black;
    color: white;
}

#information{
    border: solid blue;
    width: 250px;
    height: 250px;
    white-space: pre;
    font-size: 12px;
    text-align: center;
}

.main{
    display: flex;
    justify-content: space-around;
}

.title{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
}

img{
    width: 250px;
    height: 250px;
}

.endsection{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin-top: 25px;
}

.usspoints{
    display: flex;
    background-color: black;
    border: 3px solid yellow;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
    width: 200px;

}
.alienpoints{
    display: flex;
    background-color: black;
    border: 3px solid yellow;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
    width: 200px;
    
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.attackbtn,.Retreatbtn,.Restartbtn{
    border-radius: 20px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin: 10px;
    background-color: black;
    color: white;
    font-size: 15px;
}
.attackbtn:hover , .Retreatbtn:hover, .Restartbtn:hover{
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)
}

label{
    color:white;
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
    font-size: 20px;
}

input{
    width: 50px;
    background: transparent;
    border: none;
    
}




